* {
    margin: 0;
    padding: 0;
    font-family: "Rethink Sans", sans-serif;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 1400px;
    max-width: 100%;
    padding: 0 60px;   
}

.btn__book-now {
    padding: 10px 20px;
    background-color: #2B2A29;
    border-radius: 50px;           
    color: #fff;
    font-weight: bold;

    font-size: 20px;
    text-transform: uppercase;
}

.btn__activities
{
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #2B2A29;
    border-radius: 50px; 
    color: #2B2A29;
    font-weight: bold;

    font-size: 20px;
    text-transform: uppercase;
}

/* Header */

.header {
    background-image: url(./images/header_background_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    min-height: 100vh;

    margin-bottom: 100px;


}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
    color: #0A507A;
}

.header__nav-list {
    display: flex;
    gap: 25px;
    font-weight: 700;

    font-size: 25px;
}
.header__nav-item a {
    color: #0A507A;

}


.header__phone {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #0A507A;
    border: 1px solid #0A507A;
    border-radius: 50px;           


    display: flex;
    gap: 5px;
}

.header__btn {
    color: #fff;
    font-weight: bold;
}

.header__title {
    text-transform: uppercase;
    font-size: 140px;
    color: #2B2A29;

    position: relative;
    z-index: -1;
}

.header__offer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 75px;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top-button {
    padding: 10px 20px;
    background-color: #2B2A29;
    border-radius: 50px;           
    color: #fff;
    font-weight: bold;

    max-width: 155px;
}

.header__bottom-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 400px;
}

.header__offer_btn {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #0A507A;
    border-radius: 50px; 
    color: #0A507A;
    font-weight: bold;
}

.header__box {
    display: block;
    background-color: #fff;
    padding: 50px 20px;

    background-color: rgba(255, 255, 255, 0.8);
}

.header__box-title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.header__box-date {
    font-weight: 700;
    font-size: 20px;

    margin-bottom: 5px;
}

.header__box-info {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    
    margin-bottom: 10px;
}

.header__box-image {
    max-width: 250px;
}

.header__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 70px;
}

.header__socials-icon {
    display: flex;
}

.header__socials-button {
    display: flex;
    gap: 10px;
}

.header__icon-item {
    margin: 5px;
}


/* Main */
.main-header .main-title{
    font-size: 35px;
    font-weight: 900;
    color: #2B2A29;
}

.main-header{
    height: 220px;
    width: 750px;
    margin-bottom: 80px;
}


/* VILAMOURA */
.main-VILAMOURA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.VILAMOURA-inform{
    width: 50%;
    padding-right: 50px;
    padding-right: 280px;

}
.VILAMOURA-inform_title{
    margin-bottom: 40px;
}
.VILAMOURA-subtitle{
    margin-bottom: 10px;
}
.main-VILAMOURA .main-title{
    font-weight: 900;
}
.VILAMOURA-inform_btn{
    margin-bottom: 100px;
    /* width: 60%; */
}
.VILAMOURA-inform_btn .light-btn{
    border: 2px solid #0A507A;
    color: #0A507A;
    padding: 8px 16px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px 0 0;

}
.VILAMOURA-inform_btn .light-btn{
    border: 2px solid #0A507A;
    color: #0A507A;
    padding: 8px 16px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px 0 0;

}
.VILAMOURA-text{
    color: #2B2A29;
    display: inline-block;
    margin-bottom: 20px;

}
.VILAMOURA-img{
    /* width: 50%; */
    /* height: auto; */
    display: block; 
    width: 100%;
    height: auto;
}

.VILAMOURA-img img{
   width: auto;
   height: 550px;
}

.image-button:hover {
  background-color: #0056b3;
}


.VILAMOURA-img .btn__activities{
    align-items: flex-end;
    position: absolute; 
    bottom: 20px;       
    left: 50%;          
    transform: translateX(-50%);
}

/* Review */

.review {
    margin-bottom: 150px;
}

.review__text {
    margin-left: calc(50% + 10px);
}

.review__suptitle {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
}

.review__title {
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.review__card {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 20px;
    padding: 0 60px;
}

.review__card-item:nth-child(even) {
    padding-top: 100px;
}

.review__card-image {
    width: 100%;  
    height: 300px;      
    object-fit: cover;
    margin-bottom: 15px;
}

.review__blockquote-quote {
    margin-bottom: 15px;
}

.review__blockquote-auther {
    display: block;
    margin-bottom: 5px;
}

.review__blockquote-info {
    display: flex;
}

.big-blockquote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__blockquote-info{   
    text-align: right;
    display: block;
}

.big-blockquote .review__blockquote-auther {
    display: block;
    margin-bottom: 5px;
}

.big-image {
    max-width: 250px;
}

/* Footer */

.footer {
    padding-top: 100px;
    background-color: #2B2A29;
    font-size: 16px;
    color: #fff;
    
    padding-bottom: 100px;
}

.footer .container {
    width: 1000px;
    padding: 0 260px;
}

.footer a {
    color: #fff;    
}

.footer__communicate {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.footer__comunicate-logo {
    width: 125px;
    height: 125px;
}

.footer__communicate-title {
    font-size: 54px;
    margin-bottom: 50px;
}

.footer__communicate-desc {
    display: flex;
}

.footer-bold {
    font-size: 18px;
    font-weight: 700;
}

.footer__desc-item {
    gap: 10px;
}

.footer__surf-school-item + .footer__surf-school-item {
    margin-top: 15px;
}

.footer__adress-item + .footer__adress-item {
    margin-top: 15px;
}

.footer__contacts-item + .footer__contacts-item {
    margin-top: 15px;
}

.footer__socials {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.footer__socials-icon {
    display: flex;
    gap: 10px;
}

.footer__conditions {
    display: flex;
    gap: 10px;
}

.footer__conditions a {
    font-size: 12px;
}