* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    padding: 0 100px;
}

/* Header */

.header {
    background-image: url(./images/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 0;
}

.header__nav-list {
    display: flex;
    gap: 25px;

    font-size: 20px;
    font-weight: 700;
    color: #0A507A;
}

.header__btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #0A507A;
    border: 1px solid #0A507A;
    border-radius: 50px;           
    color: #fff;
    font-weight: bold;

}

.header__btn::before {
    content: url(./images/header_phone.svg);
    padding-right: 10px;
}

.header__title {
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 900;
    color: #2B2A29;
}

.header__offer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 75px;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header__bottom-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    max-width: 300px;
}

.header__box {
    display: block;
    background-color: #fff;
    padding: 50px 20px;

    opacity: 0.8;
}

.header__box-title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.header__box-date {
    font-weight: 700;
    font-size: 20px;

    margin-bottom: 5px;
}

.header__box-info {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    
    margin-bottom: 10px;
}

.header__box-image {
    max-width: 250px;
}

.header__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__socials-icon {
    display: flex;
}

.header__socials-button {
    display: flex;
}

.header__button-item {
    
}

.header__icon-item {
    margin: 5px;
}