* {
    margin: 0;
    padding: 0;
    font-family: 'Rethink Sans';

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    padding: 0 60px;   
}

.btn__book-now {
    padding: 10px 20px;
    background-color: #2B2A29;
    border-radius: 50px;           
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.btn__activities
{
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #2B2A29;
    border-radius: 50px; 
    color: #2B2A29;
    font-weight: bold;

    font-size: 20px;
    text-transform: uppercase;
}

.global-subtitle{
    margin-bottom: 10px;
}

.global-describe-text{
    color: #2B2A29;
    display: inline-block;
    margin-bottom: 20px;

}
.main-title{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 45px;
    color: #2B2A29;
}
/* Header */

.header {
    background-image: url(./images/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 0;
}

.header__nav-list {
    display: flex;
    gap: 25px;
    font-weight: 700;

    font-size: 25px;
}
.header__nav-item a {
    color: #0A507A;

}


.header__btn {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #0A507A;
    border: 1px solid #0A507A;
    border-radius: 50px;           
    color: #fff;
    font-weight: bold;

    display: flex;
     
}

.header__btn::before {
    content: url(./images/header_phone.svg);
    padding-left: 10px; 
}

.header__title {
    text-transform: uppercase;
    font-size: 140px;
}

.header__offer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 75px;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top-button {
    padding: 10px 20px;
    background-color: #2B2A29;
    border-radius: 50px;           
    color: #fff;
    font-weight: bold;

    max-width: 145px;
}

.header__bottom-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 400px;
}

.header__offer_btn {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #0A507A;
    border-radius: 50px; 
    color: #0A507A;
    font-weight: bold;
}

.header__box {
    display: block;
    background-color: #fff;
    padding: 50px 20px;

    background-color: rgba(255, 255, 255, 0.8);
}

.header__box-title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.header__box-date {
    font-weight: 700;
    font-size: 20px;

    margin-bottom: 5px;
}

.header__box-info {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    
    margin-bottom: 10px;
}

.header__box-image {
    max-width: 250px;
}

.header__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 70px;
}

.header__socials-icon {
    display: flex;
}

.header__socials-button {
    display: flex;
    gap: 10px;
}

.header__icon-item {
    margin: 5px;
}

/* =========================
   MAIN
========================= */
.main-header {
    font-size: 45px;
    font-weight: 900;
    color: #2B2A29;
    height: 220px;
    width: 750px;
    margin-bottom: 80px;
}


/* =========================
   VILAMOURA SECTION
========================= */
.main-VILAMOURA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.VILAMOURA-inform {
    width: 50%;
    padding-right: 280px;
}

.VILAMOURA-inform_title {
    margin-bottom: 40px;
}

.VILAMOURA-inform_btn {
    margin-bottom: 100px;
}

.VILAMOURA-inform_btn .light-btn {
    border: 2px solid #0A507A;
    color: #0A507A;
    padding: 8px 16px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px 0 0;
}

.VILAMOURA-img {
    height: auto;
    display: block;
    position: relative;
}

.VILAMOURA-img img {
    height: 700px;
}

.VILAMOURA-img .btn__activities {
    position: absolute;
    bottom: 20px;
    left: 80%;
    transform: translateX(-50%);
}


/* =========================
   ACTIVITIES
========================= */
.activities_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.activities-describe {
    display: block;
}

.activities-describe .global-describe-text {
    margin-bottom: 30px;
}

.activities-title .main-title {
    display: inline-block;
    width: 730px;
}

.circles-wrapper {
    display: flex;
    gap: 5px;
    margin-bottom: 80px;
}

.circle-item {
    width: 500%;
    height: 250px;
    border: 1px solid #333;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -5px;
}

.activities-img {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}


/* =========================
   BUTTON HOVER
========================= */
.image-button:hover {
    background-color: #0056b3;
}

.SUPERVARZNO {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  color: #333; /* или contain, если важно сохранить всё изображение */
}

.SUPERVARZNO {
  width: 70%;
  height: 70%;
}
